body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: black;
    overflow: hidden;
    
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "MS Sans Serif Pixelated", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.5px;
    font-optical-sizing: none;
    font-size: 8pt; // accurate to windows 95
    -webkit-font-smooth: never;
    -webkit-font-smooth: none;
}

.screensaver {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

* {
    user-select: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    font-smooth: never;
    -webkit-font-smoothing : none;
    text-shadow: 0px 0px 0px black;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: default;

    background-repeat: no-repeat;
}

.fake-input-checkbox {
    vertical-align: top;
    line-height: 10px;

    position: relative;
    padding-left: 15px;

    &::first-letter {
        text-decoration: underline;
    }
    
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 3;
        content: ' ';
        width: 10px;
        height: 10px;
        background: white;
        border-radius: none;
        border: 1px inset #C0C0C0;
        box-shadow: 1px 1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 0px 0px #ffffff, inset 1px 1px 0px #000000;
    }
}
    
.fake-input-number {
    position: relative;
    background: white;
    width: 45px;
    height: 20px;
    box-shadow: 1px 1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 0px 0px #ffffff, inset 1px 1px 0px #000000;


    display: flex;
    align-items: center;
    padding-left: 1px;
    
    border: 1px inset #C0C0C0;

    &.disabled {
        background: transparent;
        color: #808080;

        & > .fake-input-number-up, & > .fake-input-number-down {
            opacity: 0.75;
        }
    }
    
    
    & > .fake-input-number-up, & > .fake-input-number-down {
        position: absolute;
        right: 1px;
        top: 0px;
        display: inline-block;
        vertical-align: middle;
        line-height: 3;
        content: ' ';
        width: 14px;
        height: 7px;
        background-color: #C0C0C0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHCAIAAAC3JetOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABDSURBVChTYzxw4AADkQCo9D8RoKGhgQWi4eDBgxAGHsAEpVGBg4MDlIUEsCiFqMNUjUUp0PUQAOXDACgEMEWxAAYGAJBmOawFGxQHAAAAAElFTkSuQmCC');
        &:active {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAIAAACpsTKlAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABNSURBVChTY6yurWYgDrQ0tTAQqfrevXv///9ngXD27tsLYeAHTFCaOIBTtbOTM5SFBLCrhijF1AByN9AHEA4cYIpAACPQp1AmQcDAAACTGxbZ2y7G7QAAAABJRU5ErkJggg==');
        }
        border-radius: none;
        border: 1px inset #C0C0C0;
        @extend .window-shadow;
    }

    & > .fake-input-number-down {
        top: unset;
        bottom: 1px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHCAIAAAC3JetOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABASURBVChTYzxw4AADkQCo9D8RoKGhgQWi4eDBgxAGHsAEpZGAAwxA+TCARSnE9Zh+wKIUCLD6FRQCWCXQAQMDAJJ1OazgkZLuAAAAAElFTkSuQmCC');
        &:active {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAIAAACpsTKlAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABNSURBVChTY6yurWYgDrQ0tTAQqfrevXv///9ngXD27tsLYeAHTFCaOIBdtbOTMwRB+TCAXTXEYZjOA7kb6AMIBxlgFWQE+hTKJAgYGADESxtJ/2pdFgAAAABJRU5ErkJggg==');
        }
    }
}

iframe {
    border: none;
}

.border {
    border: 1px outset #ffffff;
}

.border-ridge {
    box-shadow: 1px 1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 0px 0px #ffffff, inset 1px 1px 0px #ffffff;
    border: 1px solid #808080;
}

.window-shadow {
    box-shadow: 1px 1px 0px #000000, 0px 1px 0px #000000, 1px 0px 0px #000000;
}
.window-shadow-light {
    box-shadow: 1px 1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 0px 0px #ffffff;
}
.inset-window-shadow {
    box-shadow: inset 1px 1px 0px #000000;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.window {
    @extend .border;
    @extend .window-shadow;
    transform: scale(1);
    background-color: #C0C0C0;
    padding: 1px;

    min-width: 403px;
    box-sizing: border-box;
}

.title-bar-title {
    font-weight: 500;
}
.title-bar-controls {
    display: flex;
}
.title-bar-control {
    @extend .border;
    background-color: #C0C0C0;
    color: black;
    text-align: center;
    padding: 1px;

    margin: 1.5px;
    @extend .window-shadow;

    width: 13px;
    height: 11px;

    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.title-bar-control__help {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAIAAAAr0JA2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABHSURBVChTYzxw4AADEQBdnYODA5TFwIAsxQSlwQCiCCgNUYGsB0UdHoDdfXCDIVwgwGIepiIgoMxeTIDdXojVyIC69jIwAAD3IxvShLBIHAAAAABJRU5ErkJggg==);
}
.title-bar-control__exit {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAIAAAAr0JA2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABQSURBVChTrZC7EQAgCEPRyRyd0fSAC5BGC1P4y0OiQ1XlQTPmm5JbptiY6klyHgCGL5CK84E7qhbng0f1zFFfqHHI5JdVtL33jGhH6N9/FtlxCSTUXP5dMQAAAABJRU5ErkJggg==);
}

.title-bar {
    background-color: #000080;
    color: #ffffff;
    padding: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-tabs__container {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column
    ;
}
.window-tabs__tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2px;
    position: relative;
    z-index: 5;
}
.window-tabs__tab {
    position: relative;
    background: #C0C0C0;

    padding: 3px;
    border: 1px outset #ffffff;
    border-right: 1px solid black;
    border-bottom: none;
    border-radius: 2px 2px 0 0;

    &.active {
        padding: 4px;
        border-bottom: 1px solid #C0C0C0;
        box-shadow: 0px 1px 0px #C0C0C0;
        margin: -1px;
        z-index: 2;

    }
}

.window-tabs__content {
    position: relative;
    @extend .window-shadow;
    border: 1px outset #fff;
    padding: 13px;
}

.monitor {
    background-image: url(monitor.png);
    width: 184px;
    height: 169px;
    padding: 17px 16px 40px 16px;
    box-sizing: border-box;

    margin: auto auto 20px auto;

    & > iframe {
        width: 100%;
        height: 100%;
    }
}

.window-settings__container {
    @extend .border-ridge;
    margin-top: 10px;
    padding: 10px 7px;
    position: relative;

}
.window-settings__title {
    position: absolute;
    top: -6px;
    left: 6px;
    padding: 0 3px;
    background: #C0C0C0;

    &::first-letter {
        text-decoration: underline;
    }
}


@import '/scss/dropdown.scss';

button {
    position: relative;
    background: #C0C0C0;
    border: 1px solid white;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    font-size: 8pt; // accurate to windows 95
    padding: 4px 12px;
    @extend .window-shadow;

    outline: none;
    &:active {
        background: #BDBEBD;
        box-shadow: inset 0px 0px 0px 1px #7B7D7B;
        border: 1px solid black;
        &:after {
            position: absolute;
            top: 3px;
            left: 3px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            content: ' ';
            border: 1px dotted black;
        }
    }
    &:disabled {
        text-shadow: 1px 1px 0px white;
    }
}

.disabled-text {
    text-shadow: 1px 1px 0px white;
    color: #808080;
}